@model IEnumerable<BertoniMiniproyecto.Models.Album>

@{
    ViewData["Title"] = "Álbumes";
}

<h2>Mis Álbumes</h2>

<p>
    Debajo una lista de todos los álbumes disponibles en su librería.
</p>

<hr />

<h3 class="btn btn-info" data-toggle="collapse" href="#albumsCollapse">
    Mis Álbumes (@Model.Count())
</h3>

<div id="albumsCollapse" class="collapse show">
    <table id="albums" class="table table-striped">
        <thead>
            <tr>
                <th>
                    Título
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id). @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-primary" 
                           asp-action="Photos" asp-route-id="@item.Id">
                            Visualizar Álbum
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/lib/dataTables/dataTables.bootstrap4.min.js" />
}

@section Scripts {
    <script src="~/lib/dataTables/jquery.dataTables.min.js"></script>
    <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>
    <script>
        $('#albums').DataTable();
    </script>
}